body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, JosefinSans;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('ttf');
}